@import url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
@import url("../fonts/Roboto/Roboto-Regular.ttf");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("./index_content-size.css");
@import url("./index_style.css");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/fundo2.png");
  background-size: cover;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav" "container" "footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: none;
      grid-template-columns: none;
  overflow-x: hidden;
}

.container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
}

nav {
  width: 100vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav_logo nav_btn";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.nav_logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav_logo;
  -ms-grid-column-align: center;
      justify-self: center;
}

.nav_btn {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav_btn;
}

.nav_btn__btn {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu-btn slidebar";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  justify-items: self-end;
}

.slidebar {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  right: 0;
}

.slidebar a {
  padding: 15px 30px;
  text-decoration: none;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: white;
  font-weight: 700;
}

.slidebar a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

#container-pilulas {
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90vw;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "container-video separa option-video";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -ms-grid-columns: 80% auto 18%;
      grid-template-columns: 80% auto 18%;
}

.separa {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: separa;
}

footer {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.pilula-1 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pilula-1-id";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option-video {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: option-video;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "opition_pilula-1" "opition_pilula-2" "opition_pilula-3";
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.option_grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "indicate_ball indicate_text";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-atividades {
  width: 100vw;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.container-atividades-1 {
  grid-area: cont1;
  width: 90%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". area-atividade-1 divisoria_ativ-1 area-atividade-2 divisoria_ativ-2 area-atividade-3 divisoria_ativ-3 area-atividade-4. ";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -ms-grid-columns: 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px;
      grid-template-columns: 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 1% 2% 1%;
  border-radius: 40px;
}

.area-atividade {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". disco . texto_ativ .";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 2% auto 5% auto 1%;
      grid-template-columns: 2% auto 5% auto 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#opition_pilula-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: opition_pilula-1;
}

#opition_pilula-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: opition_pilula-2;
}

#opition_pilula-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: opition_pilula-3;
}

#pilula-1-id {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pilula-1-id;
}

.indicate_ball {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: indicate_ball;
}

.indicate_text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: indicate_text;
}

.menu-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-btn;
}

.slidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: slidebar;
}

.container-video {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container-video;
}

.disco {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: disco;
}

.texto_ativ {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: texto_ativ;
}

.area-atividade-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: area-atividade-1;
}

.area-atividade-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: area-atividade-2;
}

.area-atividade-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: area-atividade-3;
}

.area-atividade-4 {
  grid-area: area-atividade-4;
}

.divisoria_ativ-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: divisoria_ativ-1;
}

.divisoria_ativ-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: divisoria_ativ-2;
}

.divisoria_ativ-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: divisoria_ativ-3;
}
/*# sourceMappingURL=index.css.map */