$amarelo_oficial: #FFCC33;
// @import "vars.scss";

.tracinho{
    height: 0;
    min-width: 70px;
    max-width: 100px;
    color: $amarelo_oficial;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    border: solid 0.01px $amarelo_oficial;
}

.separa_option{
    height: 0;
    min-width: 150px;
    max-width: 300px;
    color: #ffffff;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    border: solid 0.01px #ffffff;
}

#logo_organizacao{
    width: 35%;
}
