@import url('../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf');
@import url('../fonts/Roboto/Roboto-Regular.ttf');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// @import url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('./index_content-size.css');
@import url('./style_pilulas.css');
@import url('./style_atividades.css');
@import url('./style_podcast.css');
@import url('./style_introducao.css');

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    background-size: cover;
    display: grid;
    grid-template-areas: 
        "nav"
        "container"
        "footer"
    ;
    grid-template-rows: 10% auto 10%;
    grid-template-columns: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.tracinho{
  height: 0;
  color: #be991d;
  font-weight: 800;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  border: solid 0.01px #be991d;
}
//scroolbar

::-webkit-scrollbar {
    width: 10px;
    height: 80px;
    border-radius: 16px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #949393;
    border-radius: 3px;
  }

nav{
    width: 100vw;
    grid-area: nav;
    display: grid;
    grid-template-areas: ". nav_logo . nav_btn";
    grid-template-rows: 1fr;
    grid-template-columns: 2f 20% 1f 20%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 0;
}
.logo{
  padding-top: 5px;
}

.menu-btn {
  grid-area: menu-btn;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__slidebar {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px #be991d;
  transition: all .5s ease-in-out;
}

.menu-btn__slidebar::before,
.menu-btn__slidebar::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px #be991d;
  transition: all .5s ease-in-out;
}

.menu-btn__slidebar::before {
  transform: translateY(-16px);
}

.menu-btn__slidebar::after {
  transform: translateY(16px);
}


/* ANIMATION */
.menu-btn.open .menu-btn__slidebar {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__slidebar::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__slidebar::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav_logo{
  grid-area: nav_logo;
  justify-self: center;
}
.nav_btn{
  padding-top: 1%;
  grid-area: nav_btn;
  position: fixed;
  right: 0;
  align-self: flex-end;
}
.nav_btn__btn{
  display: grid;
  grid-template-areas: "menu-btn . slidebar .";
  grid-template-rows: none;
  grid-template-columns: 45% 5% 45% 5%;
  justify-self: self-end;
  justify-items: self-end;
}

//opições da navbar
.slidebar{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  transition-duration: 1.5s;
  right: 0;
}

.slidebar .nav_op_style{
  cursor: pointer;
  text-decoration: none;
  transition-duration: .5s;
  font-weight: 700;
}
.slidebar .nav_op_style:hover{
  transform: scale(1.05);
  transition-duration: .5s;
}

footer{
  padding-bottom: 5px;
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-area: footer;
}

@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}


#opition_pilula-1{grid-area: opition_pilula-1;}
#opition_pilula-2{grid-area: opition_pilula-2;}
#opition_pilula-3{grid-area: opition_pilula-3;}
#pilula-1-id{grid-area: pilula-1-id;}
.container{grid-area: container;}
.indicate_ball{grid-area: indicate_ball;}
.indicate_text{grid-area: indicate_text;}
.menu-btn{grid-area: menu-btn;}
.slidebar{grid-area: slidebar;}
.container-video{grid-area: container-video;}
.disco{grid-area: disco;}
.texto_ativ{grid-area: texto_ativ;}
.area-atividade-1{grid-area: area-atividade-1;}
.area-atividade-2{grid-area: area-atividade-2;}
.area-atividade-3{grid-area: area-atividade-3;}
.area-atividade-4{grid-area: area-atividade-4;}
.divisoria_ativ-1{grid-area: divisoria_ativ-1;}
.divisoria_ativ-2{grid-area: divisoria_ativ-2;}
.divisoria_ativ-3{grid-area: divisoria_ativ-3;}
.separa_option{grid-area: separa_option;}