#container-podcast {
  width: 100%;
  height: 55%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . ." "container_img_fone . container-podcast . option-podcast" ". . . . ." ". plataf plataf plataf ." ". . . . .";
  -ms-grid-rows: 4% auto 5% 26% 2%;
      grid-template-rows: 4% auto 5% 26% 2%;
  -ms-grid-columns: 2% 5% 50% 5% 18%;
      grid-template-columns: 2% 5% 50% 5% 18%;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  align-items: center;
}

.container-podcast {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: container-podcast;
  background: url("../img/fundo2.png");
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: 20px;
}

.option-podcast {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: option-podcast;
  background: url("../img/fundo2.png");
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#opition_podcast-1 {
  margin-top: calc(300px + 5%);
}

.container_option_podcast {
  padding: 10% 0 10% 0;
}

.container_img_fone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container_img_fone;
  z-index: 2;
  position: fixed;
}

.container-outras_plataf {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: plataf;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "text-outras_plataf" "carousel-plataf_podcast";
  -ms-grid-rows: 10% 1fr;
      grid-template-rows: 10% 1fr;
  -ms-grid-columns: none;
      grid-template-columns: none;
}

.img_plataf_div {
  padding: 0 2% 2% 2%;
  width: 50%;
}

.img_plataf {
  width: 100%;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.img_plataf:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.text-outras_plataf .title_indicate {
  text-align: center;
}

/*  -- Carousel --  */
.carousel-plataf_podcast {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: carousel-plataf_podcast;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 5%;
  margin: 0;
  z-index: 100;
  padding: 20px;
  width: 40vw;
}

.descr_podcast {
  margin-top: 2%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.div_podcast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__descr_podcast {
  width: 90%;
  height: 100px;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  color: #333333;
  z-index: 100;
  font-size: small;
}

@media (max-width: 575.98px) {
  #container-podcast {
    height: 90%;
        grid-template-areas: ". . ." ". container-podcast ." ". . ." ". option-podcast ." ". . ." "container_img_fone plataf ." ". . .";
    -ms-grid-rows: 2% 1fr 1% 30% 4% 35% 1%;
        grid-template-rows: 2% 1fr 1% 30% 4% 35% 1%;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 25%;
  }
  .container_img_fone {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .img_fone {
    position: fixed;
    bottom: 45%;
    left: 0;
    width: 25%;
  }
  .div_podcast iframe {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 350px;
    height: 160px;
  }
  .option_grid {
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
  }
  .descr_ind_podc {
    width: 280px;
  }
  .ball {
    width: 50%;
  }
  .carousel-plataf_podcast {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img_plataf {
    width: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #container-podcast {
    height: 90%;
        grid-template-areas: ". . ." ". container-podcast ." ". . ." ". option-podcast ." ". . ." "container_img_fone plataf ." ". . .";
    -ms-grid-rows: 2% auto 1% 30% 4% 20% 1%;
        grid-template-rows: 2% auto 1% 30% 4% 20% 1%;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 10;
  }
  .container_img_fone {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .img_fone {
    position: fixed;
    bottom: 20%;
    left: 0;
    width: 25%;
  }
  .div_podcast iframe {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 420px;
    height: 168px;
  }
  .option_grid {
    padding: 15px 0 15px 0;
    margin: 0;
  }
  .descr_ind_podc {
    width: 280px;
  }
  .ball {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .div_podcast iframe {
    width: 400px;
    height: 182px;
  }
  .img_fone {
    width: 60%;
  }
  .container_img_fone {
    left: -7%;
    bottom: 8%;
  }
  #container-podcast {
    height: 45%;
    -ms-grid-rows: 4% auto 5% 26% 2%;
        grid-template-rows: 4% auto 5% 26% 2%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .div_podcast iframe {
    width: 400px;
    height: 182px;
  }
  .img_fone {
    width: 60%;
  }
  .container_img_fone {
    left: -7%;
    bottom: 8%;
  }
  #container-podcast {
    height: 45%;
    -ms-grid-rows: 4% auto 5% 26% 2%;
        grid-template-rows: 4% auto 5% 26% 2%;
  }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .div_podcast iframe {
    width: 500px;
    height: 232px;
  }
  .img_fone {
    width: 80%;
  }
  .container_img_fone {
    left: 0;
    bottom: 5%;
  }
}

@media (min-width: 1500px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .div_podcast iframe {
    width: 500px;
    height: 232px;
  }
  .img_fone {
    width: 100%;
  }
  .container_img_fone {
    left: 2%;
    bottom: 5%;
  }
}
/*# sourceMappingURL=style_podcast.css.map */