// CONTAINER ATIVIDADES
#container-atividades{
    width: 100vw;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.container-atividades-1{
    grid-area: cont1;
    width: 90%;
    display: grid;
    grid-template-areas: 
    ". area-atividade-1 divisoria_ativ-1 area-atividade-2 divisoria_ativ-2 area-atividade-3 divisoria_ativ-3 area-atividade-4. ";
    grid-template-rows: none;
    grid-template-columns: 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px;
    justify-items: center;
    justify-self: center;
    align-items: center;
    padding: 2% 1% 2% 1%;
    border-radius: 40px;
}

.area-atividade{
    display: grid;
    grid-template-areas: ". disco . texto_ativ .";
    grid-template-rows: auto;
    grid-template-columns: 2% auto 5% auto 1%;
    align-items: center; 
}

.container-atividades-1{
    background: url('../img/fundo2.png'); 
}

.titulo_ativ{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}

.descricao_ativ{font-family: 'Ubuntu', sans-serif;}

.area-atividade{transition-duration: 0.8s;}
.area-atividade:hover{transform: scale(1.05);}

.divisoria_ativ{
    height: 150px;
    width: 0px;
    color: #be991d;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    border: solid 0.01px #be991d;
}
.disco_img{transform: scale(0.8);}