#container-introducao{
    display: grid;
    grid-template-areas: 
        "img_introducao . title_atualiz ."
        "img_introducao . container-ultimas_atualiz ."
    ;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr 15% 2fr 5%;
    width: 100vw;
    height: 80%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}
.title_atualiz{
    grid-area: title_atualiz;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
#img_introducao{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.title_atualiz{
    font-family: "Bahnschrift";
    color: #333333;
    font-weight: bold;
      
}

.img_introducao{grid-area: img_introducao;}
.container-ultimas_atualiz{
    grid-area: container-ultimas_atualiz;
    background: url('../img/fundo2.png');
    border-radius: 20px;
    display: flex;
    width: 90%;
    height: 90%;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.your-element{
    max-width: 550px;
}
.your-element img{
    margin-left: calc(50% - 150px);
}

@media (max-width: 575.98px) {
    #img_introducao{
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #img_introducao{
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #img_introducao{
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #img_introducao{
        width: 40%;
    }
}

@media (min-width: 1200px) and (max-width: 1799.98px){
    #img_introducao{
        width: 45%;
    }
}

@media (min-width: 1800px) {
    #img_introducao{
        width: 45%;
    }
}