//CONTAINER PÍLULAS
#container-pilulas {
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    display: grid;
}

.separa {
    grid-area: separa;
}

.div_pil {
    display: grid;
    grid-template-rows: 58%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-content: space-around;
    grid-template-areas: 
        "."
        "video_pilula"
        "."
        "descr_video"
        "."
    ;
    grid-template-rows: 2% auto 8% auto 2%;
    grid-template-columns: 95%;
}

.option-video {
    background: url('../img/fundo2.png');
    grid-area: option-video;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border: solid 3px #ffffff;
    border-radius: 8px;
    width: 95%;
    height: 85%;
}

.option_grid {
    display: grid;
    grid-template-areas: "indicate_ball indicate_text";
    grid-template-rows: none;
    justify-content: center;
    transition-duration: 0.8s;
}

.option_grid:hover {
    transform: scale(1.05);
}

.separa_option {
    height: 0;
    width: 50%;
    color: #be991d;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    border: solid 0.01px #be991d;
    padding: 0;
    margin: 0;
}

.container-video {
    grid-area: container-video;
    border: solid 3px transparent;
    border-radius: 8px;
    width: 95%;
    height: 85%;
    background: url('../img/fundo2.png');
    display: grid;
    justify-content: center;
    align-content: center;
    
}
.descr_video{
    grid-area: descr_video;
    text-align: start;
    justify-self: center;
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    width: 85%;
    overflow-y: auto;
}

.ball {
    justify-self: start;
}

.indicate_text {
    padding-left: 10px;
    width: 100%;
    height: 80%;
}

.description_indicate {
    font-family: 'Ubuntu', sans-serif;
    text-align: start;
    width: 80%;
}

.option-video {
    border: solid 3px transparent;
    border-radius: 8px;
    background: url('../img/fundo2.png');
    width: 95%;
    height: 85%;
}


.option_grid {
    transition-duration: 1s;
}

.option_grid:hover {
    transform: scale(1.05);
}

.ball {
    justify-self: start;
    width: 80%;
}

.title_indicate {
    font-family: 'Bebas Neue', cursive;
    color: #2B2B2B;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: start;
}

.div_pil_vd iframe {
    border-radius: 10px;
}
.text__descr_video{
    margin-top: 2%;
}
@media (max-width: 575.98px) {
    .video_pilula{
        width: 70vw;
    }
    #container-pilulas {
        width: 90vw;
        height: 65vh;
        grid-template-areas: 
        "container-video"
        "separa"
        "option-video"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 65% auto 35%;
    }
    .title_indicate {
        font-size: large;
    }
    .description_indicate {
        font-size: x-small;
    }
    .option-video {
        overflow-y: scroll;
    }
    .option_grid_1{
        margin-top: 40%;
    }
    .ball {
        width: 60%;
    }
    .option_grid {
        grid-template-columns: 25% 75%;
        padding: 2.5% 0 5% 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .video_pilula{
        height: 150px;
        width: 40vw;
    }
    #container-pilulas {
        width: 95vw;
        grid-template-areas: "container-video separa option-video";
        grid-template-columns: 60% auto 30%;
        grid-template-rows: 62vh;
    }
    .title_indicate {
        font-size: larger;
    }
    .description_indicate {
        font-size: small;
    }
    .ball {
        width: 80%;
    }
    .option_grid {
        grid-template-columns: 25% 75%;
        padding: 0;
        padding-left: 5%;
    }
    .descr_video{
        margin: 3% 0 0 0;
    }
    .text__descr_video{
        height: 45px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .video_pilula{
        height: 28vh;
        width: 70%;
    }
    #container-pilulas {
        width: 90vw;
        grid-template-areas: "container-video separa option-video";
        grid-template-columns: 60% auto 30%;
        grid-template-rows: 60vh;
    }
    .title_indicate {
        font-size: x-large;
    }
    .description_indicate {
        font-size: xx-small;
        overflow-y: auto;
    }
    .ball {
        width: 80%;
    }
    .option_grid {
    grid-template-columns: 25% 75%;
    padding: 0;
    padding-left: 5%;
    }
    .descr_video{
        margin: 4% 0 0 0;
    }
    .text__descr_video{
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .video_pilula{
        height: 32vh;
        width: 70%;
    }
    #container-pilulas {
        width: 90vw;
        grid-template-areas: "container-video separa option-video";
        grid-template-columns: 70% auto 25%;
        grid-template-rows: 70vh;
    }
    .title_indicate {
        font-size: xx-large;
    }
    .description_indicate {
        font-size: small;
    }
    .ball {
        width: 80%;
    }
    .option_grid {
    grid-template-columns: 25% 75%;
    padding: 0;
    padding-left: 5%;
    }
    
}

@media (min-width: 1200px) and (max-width: 1799.98px){
    .video_pilula{
        height: 40vh;
        width: 80%;
    }
    #container-pilulas {
        width: 90vw;
        grid-template-areas: "container-video separa option-video";
        grid-template-columns: 60% auto 18%;
        grid-template-rows: 70vh;
    }
    .title_indicate {
        font-size: xx-large;
    }
    .description_indicate {
        font-size: small;
    }
    .ball {
        width: 80%;
    }
    .option_grid {
    grid-template-columns: 25% 75%;
    padding: 0;
    padding-left: 5%;
    }
}

@media (min-width: 1800px) {
    .video_pilula{
        height: 430px;
        width: 800px;
    }
    #container-pilulas {
        width: 90vw;
        grid-template-areas: "container-video separa option-video";
        grid-template-columns: 60% auto 18%;
        grid-template-rows: 75vh;
    }
    .title_indicate {
        font-size: xx-large;
    }
    .description_indicate {
        font-size: small;
    }
    .ball {
        width: 80%;
    }
    .option_grid {
    grid-template-columns: 25% 75%;
    padding: 0;
    padding-left: 5%;
    }
}
.video_pilula{
    grid-area: video_pilula;
    border-radius: 10px;
}
.highlight_op{
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 15px;
    background-color: #f5f5dca4;
    transition-duration: 1.5s;
}
.ilustracao_pilula{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
}