#container-videos {
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . ." ". title_videos_outros title_videos_outros . ." ". . . . ." ". container_videos_outros . option_videos_outros ." ". . . . .";
  -ms-grid-rows: 2% 10% 2% 1fr 2%;
      grid-template-rows: 2% 10% 2% 1fr 2%;
  -ms-grid-columns: 12% 1fr 5% 16% 12%;
      grid-template-columns: 12% 1fr 5% 16% 12%;
  height: 90%;
  width: 100vw;
}

.title_videos_outros {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: title_videos_outros;
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: start;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  color: #252424;
  font-size: 55px;
}

.container_videos_outros {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: container_videos_outros;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  background: url("../img/backgrounds/verde-claro.png");
  border-radius: 20px;
}

.option_videos_outros {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: option_videos_outros;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: url("../img/backgrounds/verde-claro.png");
  border-radius: 20px;
  background-color: #695112;
  overflow-x: hidden;
  overflow-y: auto;
}

.overflow_op_vid_outros {
  height: 100%;
}

.video__vid_outros iframe {
  border-radius: 20px;
}

.video__vid_outros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.descr_vid_outros {
  margin-top: 2%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.text__descr_vid_outros {
  width: 90%;
  height: 80px;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  z-index: 100;
  font-size: medium;
}

.option_grid_outros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "ball_outros text_outros";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
}

.option_grid_outros:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.indicate_ball_vid_outros {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ball_outros;
}

.indicate_text_vid_outros {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text_outros;
  padding: 0 0 0 4%;
}

.title_indicate_vid_outros {
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: start;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  color: white;
  font-weight: 800;
  font-size: larger;
}

.description_indicate_vid_outros {
  font-family: 'Ubuntu', sans-serif;
  text-align: start;
  width: 90%;
  color: white;
}

.ilustracao_video_outros {
  width: 3%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.title__op_vid_outros {
  color: #647365;
  text-align: center;
  font-size: 30px;
  padding: 5% 0 5% 0;
  font-family: 'Bebas Neue', cursive;
  font-weight: bolder;
  letter-spacing: 4px;
}

.highlight_op_outros {
  padding-top: 8%;
  padding-bottom: 8%;
  border-radius: 15px;
  background-color: #647365;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.op_live_outros_1 {
  margin: 0 0 5% 0;
}

.op_live_outros_2 {
  margin: 0 0 5% 0;
}

.op_live_outros_3 {
  margin: 0 0 5% 0;
}

@media (min-width: 1200px) and (max-width: 1799.98px) {
  .title_indicate_vid_outros {
    font-size: large;
  }
  .description_indicate_vid_outros {
    font-size: small;
  }
}

@media (min-width: 1800px) {
  .title_indicate_vid_outros {
    font-size: large;
  }
  .description_indicate_vid_outros {
    font-size: small;
  }
}
/*# sourceMappingURL=style_videos.css.map */