#container-videos {
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-areas:
        ". . . . ."
        ". title_videos_outros title_videos_outros . ."
        ". . . . ."
        ". container_videos_outros . option_videos_outros ."
        ". . . . ."
    ;
    grid-template-rows: 2% 10% 2% 1fr 2%;
    grid-template-columns: 12% 1fr 5% 16% 12%;
    height: 90%;
    width: 100vw;
}

.title_videos_outros{
    grid-area: title_videos_outros;
    justify-self: start;
    text-align: start;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    color: #252424;
    font-size: 55px;
}
.container_videos_outros{
    grid-area: container_videos_outros;
    display: flex;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: url('../img/backgrounds/outros.jpeg');
    border-radius: 20px;
}
.option_videos_outros{
    grid-area: option_videos_outros;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url('../img/backgrounds/outros.jpeg');
    border-radius: 20px;
    background-color: #695112;
}
.video__vid_outros iframe{
    border-radius: 20px;
}
.video__vid_outros{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.descr_vid_outros{
    margin-top: 2%;
    width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.text__descr_vid_outros{
    width: 90%;
    height: 80px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    z-index: 100;
    font-size: medium;
}

.option_grid_outros{
    display: grid;
    grid-template-areas: 
        "ball_outros text_outros";
    grid-template-rows: none;
    grid-template-columns: 30% 1fr;
    justify-content: center;
    transition-duration: 0.8s;
    height: max-content;
}
.option_grid_outros:hover{
    transform: scale(1.05);
}

.indicate_ball_vid_outros{
    grid-area: ball_outros;
}
.indicate_text_vid_outros{
    grid-area: text_outros;
    padding: 0 0 0 4%;
}
.title_indicate_vid_outros{
    justify-self: start;
    text-align: start;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    color: white;
    font-weight: 800;
    font-size: larger;
}
.description_indicate_vid_outros{
    font-family: 'Ubuntu', sans-serif;
    text-align: start;
    width: 90%;
    color: white;
}
.ilustracao_video_outros{
    width:  3%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.title__op_vid_outros{
    color: #50657e;
    text-align: center;
    font-size: 30px;
    padding: 5% 0 5% 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    letter-spacing: 4px;
}
.highlight_op_outros{
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 15px;
    background-color: #50657e;
    transition-duration: 1.5s;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1799.98px) {
    .title_indicate_vid_outros{
        font-size: large;
    }
    .description_indicate_vid_outros{
        font-size: small;
    }
}

@media (min-width: 1800px) {
    .title_indicate_vid_outros{
        font-size: large;
    }
    .description_indicate_vid_outros{
        font-size: small;
    }
}