#container-podcast {
  width: 100%;
  height: 100%;
      grid-template-areas: ". . . . ." "container_img_fone . container-podcast . option-podcast" "plataf plataf plataf plataf plataf" ". . . . .";
  -ms-grid-rows: 15% 50% auto 10%;
      grid-template-rows: 15% 50% auto 10%;
  -ms-grid-columns: 2% 5% 50% 5% 18%;
      grid-template-columns: 2% 5% 50% 5% 18%;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 0;
}

.container-podcast {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: container-podcast;
  background: url("../img/fundo2.png");
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: 20px;
}

.option-podcast {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: option-podcast;
  background: url("../img/fundo2.png");
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#opition_podcast-1 {
  margin-top: calc(300px + 5%);
}

.container_option_podcast {
  padding: 10% 0 10% 0;
}

.container_img_fone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container_img_fone;
  z-index: 10;
  position: fixed;
  left: 5%;
  bottom: 0;
}

.container-outras_plataf {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: plataf;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "text-outras_plataf" "carousel-plataf_podcast";
  -ms-grid-rows: 10% 1fr;
      grid-template-rows: 10% 1fr;
  -ms-grid-columns: none;
      grid-template-columns: none;
}

.carousel-plataf_podcast {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: carousel-plataf_podcast;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 5%;
  margin: 0;
}

.img_plataf_div {
  padding: 0 2% 2% 2%;
  width: 50%;
}

.img_plataf {
  width: 100%;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.img_plataf:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.text-outras_plataf .title_indicate {
  text-align: center;
}

/*  -- Carousel --  */
.carousel-plataf_podcast {
  z-index: 100;
  padding: 20px;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 575.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div_podcast iframe {
    width: 280px;
    height: 172px;
  }
  #container-podcast {
        grid-template-areas: ". container-podcast ." ". . ." ". option-podcast ." "container_img_fone plataf .";
    -ms-grid-rows: 40% 2% 20% auto;
        grid-template-rows: 40% 2% 20% auto;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 20%;
    bottom: 20%;
  }
  .img_fone {
    width: 45%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .img_plataf_div {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .carousel-plataf_podcast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #opition_podcast-1 {
    margin-top: 130%;
  }
  .separa_option {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div_podcast iframe {
    width: 280px;
    height: 152px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div_podcast iframe {
    width: 300px;
    height: 152px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .div_podcast iframe {
    width: 500px;
    height: 232px;
  }
}

@media (min-width: 1200px) {
  .carousel-plataf_podcast {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .div_podcast iframe {
    width: 500px;
    height: 232px;
  }
}
/*# sourceMappingURL=style_podcast.css.map */