#container-videocast {
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . ." ". title_videocast title_videocast . ." ". . . . ." ". container_videocast . option_videocast ." ". . . . .";
  -ms-grid-rows: 2% 10% 2% 1fr 2%;
      grid-template-rows: 2% 10% 2% 1fr 2%;
  -ms-grid-columns: 12% 1fr 5% 16% 12%;
      grid-template-columns: 12% 1fr 5% 16% 12%;
  height: 90%;
  width: 100vw;
}

.container_videocast {
  justify-items: center;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: container_videocast;
  background-color: #695112;
  border-radius: 20px;
}

.container_videocast iframe {
  border-radius: 20px;
}

.option_videocast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: option_videocast;
  background-color: #695112;
  border-radius: 20px;
}

.option_grid_videocast {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "ball_videocast text_videocast";
  -ms-grid-rows: none;
      grid-template-rows: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10% 0 5% 4%;
}

.option_grid_videocast:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.indicate_ball_videocast {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ball_videocast;
}

.indicate_text_videocast {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text_videocast;
}

.title_indicate_videocast {
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: title_videocast;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  color: white;
  font-weight: 800;
  font-size: larger;
}

.description_indicate_videocast {
  font-family: 'Ubuntu', sans-serif;
  text-align: start;
  width: 90%;
  color: white;
}

@media (min-width: 1200px) and (max-width: 1799.98px) {
  .title_indicate_videocast {
    font-size: x-large;
  }
  .description_indicate_videocast {
    font-size: small;
  }
}

@media (min-width: 1800px) {
  .title_indicate_videocast {
    font-size: x-large;
  }
  .description_indicate_videocast {
    font-size: small;
  }
}
/*# sourceMappingURL=style_videocast.css.map */