/* ----- MEDIA SCREEN ----- */

/* Media Screen - EXTRA SMALL */
$break-extra-small: 575.98px;
/* Media Screen - SMALL */
$break-low-small: 576px;
$break-up-small: 767.98px;
/* Media Screen - MEDIUM */
$break-low-medium: 768px;
$break-up-medium: 991.98px;
/* Media Screen - LARGE */
$break-low-large: 992px;
$break-up-large: 1199.98px;
/* Media Screen - EXTRA SMALL */
$break-low-extra-large: 1200px;
$break-up-extra-large: 1599.98px;
/* Media Screen - EXTRA G SMALL */
$break-extra-g-large: 1600px;
